
<div th:fragment="call-section">


<div class="mg-50 common-body">
    <div>
        <img class="wedding-img" src="/img/img.jpg" alt="결혼사진2" width="90%">
    </div>
    <div class="name-txt">
        <div>김OO의 • 나OO의 아들 김서준</div>
        <div>이OO의 • 박OO의 딸     이하은</div>
    </div>
    <!-- 연락하기 버튼 -->
    <button id="contactBtn" class="contact-button">연락하기</button>
</div>

<!-- 연락 모달 -->
<div id="contactModal" class="call-modal">
    <div class="call-modal-content">
        <h3 class="call-title">연락하기</h3>
        <ul class="call-list">
            <li class="call-inner">
                <div>신랑 김서준</div>
                <div>
                    <a href="tel:01000000000">📞</a>
                    <a href="sms:01000000000">✉️</a>
                </div>
            </li>
            <li class="call-inner">
                <div>신랑 아버지 김OO</div>
                <div>
                    <a href="tel:01000000000">📞</a>
                    <a href="sms:01000000000">✉️</a>
                </div>
            </li>
            <li class="call-inner">
                <div>신랑 어머니 나OO</div>
                <div>
                    <a href="tel:01000000000">📞</a>
                    <a href="sms:01000000000">✉️</a>
                </div>
            </li>
        </ul>

        <div class="line"></div>

        <ul class="call-list">
            <li class="call-inner">
                <div>신부 이하은</div>
                <div>
                    <a href="tel:01000000000">📞</a>
                    <a href="sms:01000000000">✉️</a>
                </div>
            </li>
            <li class="call-inner">
                <div>신부 아버지 이OO</div>
                <div>
                    <a href="tel:01000000000">📞</a>
                    <a href="sms:01000000000">✉️</a>
                </div>
            </li>
            <li class="call-inner">
                <div>신부 어미니 박OO</div>
                <div>
                    <a href="tel:01000000000">📞</a>
                    <a href="sms:01000000000">✉️</a>
                </div>
            </li>
        </ul>
        <button class="close-btn" onclick="closeModal()">닫기</button>
    </div>
</div>


<!-- JavaScript -->
<script>
    const modal = document.getElementById("contactModal");
    const btn = document.getElementById("contactBtn");

    btn.onclick = () => {
      modal.style.display = "block";
    }

    function closeModal() {
      modal.style.display = "none";
    }

    // 모달 밖 클릭 시 닫기
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>


</div>
