<div th:fragment="gallery-section">

    <div class="container common-body">
        <div class="title">Gallery</div>

        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/img/slide1.jpg" alt="사진1"></div>
                <div class="swiper-slide"><img src="/img/slide2.jpg" alt="사진2"></div>
                <div class="swiper-slide"><img src="/img/slide3.jpg" alt="사진3"></div>
                <div class="swiper-slide"><img src="/img/slide4.jpg" alt="사진4"></div>
                <div class="swiper-slide"><img src="/img/slide5.jpg" alt="사진5"></div>
                <div class="swiper-slide"><img src="/img/slide6.jpg" alt="사진6"></div>
                <div class="swiper-slide"><img src="/img/slide7.jpg" alt="사진7"></div>
                <div class="swiper-slide"><img src="/img/slide8.jpg" alt="사진8"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 1,
          spaceBetween: 30,
          loop: true,
          autoplay:{
		  delay: 3500, // 시간 설정
          disableOnInteraction: false
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
    </script>

</div>
