/* 계좌 */

.account-body{
    font-family: 'Pretendard', sans-serif;
    width: 90%;
    margin: 0 auto;
}

.con-blank{
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.accordion {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
}

.accordion-header {
  background: #ffe6ea;
  padding: 14px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  display: none;
  padding: 16px;
  background: #fff;
  border: 1px solid #eee;
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;
}

.account-item {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.account-item:last-child {
  border-bottom: none;
}

.copy-btn,
.pay-btn {
  margin-top: 4px;
  margin-right: 8px;
  padding: 4px 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-btn {
  background: #f0f0f0;
}

.pay-btn {
  background: #ffdd00;
  font-weight: bold;
}


.bankName{
    font-weight: 300;
    color:#686868;
}

.DepositorName{
    padding-top: 10px;
    text-align: left;
}
