<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each = "guest : ${guestList}">
    <div th:text="${guest.name}"></div>
    <div th:text="${#temporals.format(guest.createDate, 'yyyy-MM-dd HH:mm')}"></div>
    <div th:text="${guest.txt}"></div>
</div>


<form action="/guest" method="post">
    <input type="text" name="name" placeholder="이름" required />
    <input type="password" name="pw" placeholder="비밀번호" required />
    <textarea name="txt" placeholder="100자 이내로 작성해주세요" maxlength="100" required></textarea>
    <button type="submit">작성하기</button>
</form>


</body>
</html>