
<html layout:decorate="~{layout}">
<div layout:fragment="content">

    <div class="container">
        <div class="title">Seojun & Haeun</div>
        <div>이미지</div>
        <div>2025.05.17</div>
        <div>김서준    |    이하은</div>

        <div class="mainTxt">
            <p>두 사람이 꽃과 나무처럼 걸어와서</p>
            <p>서로의 모든 것이 되기 위해</p>
            <p>오랜 기다림 끝에 혼례식을 치르는 날</p>
            <p>세상은 더욱 아름다워라</p>
            <br>
            <p>이해인, &lt;사랑의 사람들이여 &gt;</p>
        </div>
    </div>

    <div class="container">
        <div class="title">Invite</div>

        <p>햇살처럼 따뜻하게 안아줄 수 있는</p>
        <p>늘 곁에서 서로를 웃게 해줄 수 있는</p>
        <p>소중한 사람을 만났습니다.</p>
        <br>
        <p>햇살 가득한 5월</p>
        <p>결혼합니다.</p>
        <br>
        <p>기쁜 날, 가까이서 축복해 주시면</p>
        <p>더없는 기쁨으로 간직하겠습니다.</p>
    </div>



    <a th:href="@{/write}">답변하기</a>
    <a th:href="@{/guest}">guestbook</a>

</div>
</html>